@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300&family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cardo&display=swap');



li, a {
    font-family: "Metamorphous", sans-serif;
    margin: 0 20px;
    font-size: 18px;
    list-style-type: none;
    text-decoration: none;
    color: white;  
}

h1 {
    font-family: "Metamorphous", sans-serif;
    font-size: 55px;
    font-weight:50;
    margin: 0;
    color: white;
    padding: 15%

}

nav {
    background: black;
    height: 5rem;
}

ul {
    display: flex;
    justify-content: space-between;
    padding: 0px 10%;
}

.main {
    height: 67vh;
    /* background-color:#342D2D; */
    background-image:url("background.png");
    background-repeat: no-repeat;
    background-size:cover;

}

.blackbar {
    background-color:black;
    height: 60px;
}

.pinkbar {
    background-color:#FF006B;
    height: 30px;
}

.secondpart {
    background-color: #100F0F;
    height: 300vh;
    display:block;
}


h2 {
    color: #FF006B;
    font-family: Metamorphous;
    font-size: 50px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

p {
    color: #FFF;
    font-family: Cardo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 733px;
    height: 663px;
    
}


.hero {
    width: 570px;
    height: 745px;
    background-image: url(hippocrates\ portrait.png);
    background-size:cover;
    padding: -80px;
    margin-left: 3%; 
    margin-top: -52%;
    position:absolute;
    
}

  .anatomy {

    background-image: url('anatomy.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 686px;
    width: 520px;
    margin-left: 55%; 
    margin-top: -60%;
    padding-top: 0%;
    transition: background-image 3s ease-in-out;

  }

  .topright {
    height: 360px;
    width: 300px;
    margin-left: 55%; 
    margin-top: -20%;
    padding-top: 0%;
    transition: background-image 1s ease-in-out;

  }
  .topright:hover {
    height: 360px;
    width: 300px;
    background-color:#FF006B;
    opacity: 50%;
    margin-left: 55%; 
    margin-top: -10%;
    padding-top: 0%;

  }

  .topleft {
    height: 360px;
    width: 300px;
    margin-left: 0%; 
    margin-top: -72%;
    padding-top: 0%;
    transition: background-image 1s ease-in-out;

  }
  .topleft:hover {
    height: 360px;
    width: 300px;
    background-color:#0077ff;
    opacity: 50%;
    margin-left: 0%; 
    margin-top: -60%;
    padding-top: 0%;

  }

  .bottomleft {
    height: 360px;
    width: 300px;
    margin-left: 0%; 
    margin-top: -60%;
    padding-top: 0%;
    transition: background-image 1s ease-in-out;

  }

  .bottomleft:hover {
    height: 360px;
    width: 300px;
    background-color:#00ff00;
    opacity: 50%;
    margin-left: 0%; 
    margin-top: -70%;
    padding-top: 0%;

  }

  .bottomright {
    height: 360px;
    width: 300px;
    margin-left: 55%; 
    margin-top: 0%;
    padding-top: 0%;
    transition: background-image 1s ease-in-out;

  }

  .bottomright:hover {
    height: 360px;
    width: 300px;
    background-color:#ff0008;
    opacity: 50%;
    margin-left: 55%; 
    margin-top: 0%;
    padding-top: 0%;

  }

  .blood {
    background-color: #000000;
    height: 130vh;
}

#girl
{
  height: 960px;
}

#prometheus {
  height: 650px;
  margin-left: 470px;
}